*box {
  margin: auto;
  width: 200px;
  height: 200px;
  padding: 10px;
}


*body {
  background-color: darkblue;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
}

.img-eye {
  width: 300px;
}
